@charset "utf-8";
html{
  font-size: 62.5%; /*16*....=10 => 10/16*/
  /* 기본 폰트 크기는 10px 이다. */
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mo{
  display: none;
}
.container{
  width: 1240px;
  margin: auto;
}

/*기본상태 1240px*/
header{
  width: 1240px;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}
h1 img{
  width: 45px;
  vertical-align: middle;
}
/*h1 span{
   font-size: 3em; rem 16px * 3
} */
nav{
  flex-grow: 1;
}
nav>ul{
  padding: 0 0 0 60px;
}
nav>ul>li{
  float: left;
  margin: 0 15px;
}
nav>ul>li>a{
  font-size: 1.8rem;
  /* display: block;
  padding: 5px; */
}

.top_menu{}
.top_menu a{
  /* border: 1px solid red; */
  display: inline-block;
  margin:0px 5px;
  width: 24px;
  height: 24px;
  text-indent: -9999999px;
  background: url('../img/css_sprites.png');
  opacity: 0.5;
  transition: 0.2s;
}

.top_menu a:hover{
  opacity: 1;
}

.top_menu a:nth-child(1){
  background-position: -10px -54px;
}
.top_menu a:nth-child(2){
  background-position: -10px -142px;
}
.top_menu a:nth-child(3){
  background-position: -10px -10px;
}
.top_menu a:nth-child(4){
  background-position: -10px -98px;
}
/* https://www.toptal.com/developers/css/sprite-generator 스프라이트 사이트 */

#main_visual{
  width: 100%;
  height: 500px;
}
#main_visual > div{
  /* width: 100%; */
  height: 100%;
}
#main_visual > div > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

main{}

section{
  padding: 80px 20px;
}

.con1{
  /* border: 1px solid red; */
  width: 1240px;
  margin: auto;
  display: flex;
  gap: 2rem;
}
.con1 article{
  height: 20rem;
  border-radius: 2rem;
}

.con1 article:first-child{
  border: 0.5rem solid #aaa;
  flex-grow: 2;
}

.con1 article:nth-child(2),
.con1 article:nth-child(3){
  background: #aaa;
  flex-grow: 1;
}

.con2 {
  /* background: #ddd; */
  padding: 0 20px 80px;
}
.con2 .row{
  display: flex;
  align-items: center;
}
.con2 .row> *{
  /* flex: 1;
  flex-basis: 1; 동일*/
  flex-basis: 50%; 
}
.con2 .row .img{
  order: 1;/*order은 flex와 grid 자식요소의 순서, 인덱스 번호와 화면의 보이는 순서*/
}
.con2 .row img{
  width: 100%;
}

.con2 h4{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.con2 p{
  font-size: 1.6rem;
  color: #999;
}

.con2 .list{
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
  row-gap: 2rem;
  margin-top: 2rem;
}
.con2 .list > li{
  flex: 33.33%;
  padding: 1rem;
}

.con3{
  background: #999;
  color: #fff;
}
.con3 h3{
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.con3 .list{
  display: flex;
}
.con3 .list li{
  /* border: 2px solid red; */
  text-align: center;
  padding: 2rem 4rem;
}

.con3 svg{
  height: 6rem;
  fill: #fff;
}
.con3 span{
  display: block;
  font-size: 1.4rem;
  margin: 2rem;
  opacity: 0.5;
}


.con4 .row{
  display: flex;
  gap: 2rem;
  margin-bottom: 6rem;
}

.con4 .row > *{
  flex: 50%;
}

.con4 .row .img{
  /* border: 1px solid red; */
  text-align: center;
}
.con4 .row .img img{
  width: 100%;
}

.con4 .text{}
.con4 .text h3{
  /* text-align: center; */
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.con4 .text p{
  font-size: 1.6rem;
  color: #999;
}
.con5{
  background: #e2e2e2;
}
.con5 h3{
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
}
.con5 h3 +p{
  font-size: 1.6rem;
  color: #999;
  max-width: 700px;
  margin: auto;
  text-align: center;
}
.con5 .list{
  display: flex;
}
.con5 .list li{
  flex-basis: 33.33%;
  padding: 2rem;
}
.con5 .list a{
  display: block;
  border-radius: 1rem;
  box-shadow: 0px 0.6rem 0 #ddd;
  overflow: hidden;
  border: 1px solid transparent;
}
.con5 .list a:hover{
  border: 2px solid #666;
  box-shadow: 0px 0.6rem 0 #666;
}
.header{
  background: #ff8a75;
  text-align: center;
  padding: 2rem;
}
.header svg{
  height: 7rem;
  fill:rgb(255, 236, 201);
}
.desc h4{
  font-size: 2rem;
  padding: 1.6rem 2rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
}
.desc p{
  font-size: 1.6rem;
  line-height: 1.3;
  color: #999;

}

.desc{
  text-align: center;
  background: #fff;
}

/* 1240 보다 작았을떄 */
@media (max-width:1199px) {
  header, .con1,.container{
    width: 100%;
  }
}

/* 1000보다 작았을때 */
@media (max-width:1000px) {
  h1{
    font-size: 2.6rem;
  }
  nav>ul{
    padding: 0 0 0 40px;
  }
  nav>ul>li{
    margin: 0 10px;
  }
  nav>ul>li>a{
    font-size: 1.6rem;
  }
  .top_menu a.pc{
    display: none;
  }

  .con1{
    flex-wrap: wrap;/*no-wrap이 기본*/
  }

  .con1 article:first-child{
    flex-basis: 100%;
  }

  .con2 .list > li{
  flex: 50%;
  }

  .con3 .list {
    flex-wrap: wrap;
  }
  .con3 .list li {
    flex: 50%;
  }

  .con3 span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*박스 방향*/
    -webkit-line-clamp: 2;
    /*라인수*/
    overflow: hidden;
  }
  .con5 .list {
    flex-wrap: wrap;
    padding: 0 6rem;
  }
  .con5 .list li{
    flex-basis: 100%;
  }
}

/* 768 보다 작을 때 - 큰 모바일 */
@media (max-width:767px){
  
  .mo{
    display: block;
  }
  header{
    justify-content: space-between;
  }
  nav{
    /* display: none; */
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    transition: .3s ease-in;
  }

  nav>ul{
  padding: 100px 0 0 60px;
  }
  nav>ul>li{
    float: none;
    margin: 0;
    height: 50px;
  }
  nav>ul>li>a{
    font-size: 2.8rem;
  }
  .btn_close{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #main_visual{
    height: 400px;
  }
  section{
    padding: 40px 20px;
  }

  .con2 .row{
    flex-wrap: wrap;
    /* justify-content: center; */
  }
  .con2 .row .img {
    text-align: center;
  }
  .con2 .row> *{
  /*flex: 1;
   flex-basis: 1; */
  flex-basis: 100%;
}
.con2 .row img{
  width: 60%;
}
.con2 .row .text{
  order: 1;/*order은 flex와 grid 자식요소의 순서, 인덱스 번호와 화면의 보이는 순서*/
}
.con2 .list > li{
  flex-basis: 100%;
  padding: 0;
}

.con4 .row .img{
  order: 1;
}
.con4 .row .img{
  order: 0;
  }
  .con4 .row .img img{
  width: 50%;
  }
  .con4 .text h3{
    text-align: center;
  }
  .con4 .row {
    flex-wrap: wrap;
  }
  .con4 .row > *{
    flex: 100%;
  }
  

/* .con3 .list { flex-wrap: wrap;}
    .con3 .list li { flex: 50%; } */
}

/* 640 보통의 모바일 */
@media (max-width:640px){
  .con1{
    /* height: 10rem; */
    gap: 1rem;
  }
  .con1 article:nth-child(2),
  .con1 article:nth-child(3){
    flex-basis: 100%;
  }

  .con2 .list {
    display: none;
  }
  .con2 .row img{
    width: 95%;
  }

  .con4 .text p{
    display: none;
  }

  .con5 .list {
    flex-wrap: wrap;
    padding: 0 0;
  }
  .con5 .list li{
    padding: 0.5rem;
  }
}

/* 340 보다 작을 때 - 작은모바일 */
@media (max-width:340px){
  #main_visual{
    height: calc(100vh - 80px);
  }
  h1 span{
    display: none;
  }
  .con3 .list li{
    flex: 100%;
  }

  .con3 span{
    margin-top: 0.5rem;
  }
}